@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Shadows+Into+Light&display=swap');


/* Defaults and Resets */
/* ----- ----- ----- */
p {
    font-family: 'Playfair Display', 'Garamond', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shadows Into Light', 'Copperplate', cursive;
}

h4 {
    color: #BFD7B5;
}

h2 {
    margin: 0;
}

/* Header Content */
/* ----- ----- ----- */
header {
    background-color: #171738;
    height: 200px;
}

.logo {
    width: 80px;
    background-color: #7E9CBE;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    color: #171738;
    text-decoration: none;
    padding: 35px;
}

nav {
    background-color: #BFD7B5;
}

nav a:hover {
    background-color: #171738;
    color: #BFD7B5;
}

/* Body Content */
/* ----- ----- ----- */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    color: #BFD7B5;
    font-size: 2em;
    margin-top: 10px;
}

#background {
    height: 725px;
    background-color: #44443E;
}

body {
    background-color: #44443E;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #171738;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

/* Message/Callout Content */
/* ----- ----- ----- */
.book, .join {
    background-color: #171738;
    color: #7E9CBE;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #BFD7B5;
    color: #171738;
}

.msg {
    background-color: #171738;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #BFD7B5;
}

.msg p {
    color: #BFD7B5;
    font-size: .8em;
    padding-bottom: 15px;
}

/* Footer Content */
/* ----- ----- ----- */

footer {
    background-color: #171738;
    color: #BFD7B5;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.1em;
}

footer a {
    color: #7E9CBE;
    text-decoration: none;
}

footer a:hover {
    color: #171738;
    background-color: #BFD7B5;
}

footer p a:hover {
    text-decoration: underline;
}  