#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #171738;
    text-decoration: none;
}

nav {
    background-color: #BFD7B5;
}

nav a:hover {
    background-color: #171738;
    color: #BFD7B5;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.logo {
    background-color: #7E9CBE;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #44443E;
}

body {
    background-color: #44443E;
}

header {
    background-color: #171738;
    height: 200px;
}

.book, .join {
    background-color: #171738;
    color: #7E9CBE;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #BFD7B5;
    color: #171738;
}


.msg {
    background-color: #171738;
}

footer {
    background-color: #171738;
    color: #BFD7B5;
}

footer p {
    font-size: 1.1em;
}

.home-title {
    color: #BFD7B5;
}

h4 {
    color: #BFD7B5;
}

.msg h2 {
    color: #BFD7B5;
}

.msg p {
    color: #BFD7B5;
}

footer a {
    color: #7E9CBE;
    text-decoration: none;
}

footer a:hover {
    color: #171738;
    background-color: #BFD7B5;
}

footer p a:hover {
    text-decoration: underline;
}  